/*
 * Globals
 */

body {
  font-family: "Segoe UI", Segoe, Tahoma, Geneva, sans-serif;
  font-size: 17px;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "Bodoni MT", Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-weight: normal;
  color: #333;
  margin-top: 0;
}

h3 {
  margin-bottom: 0;
}
a {
  color: #d46840;
}
pre {
  font-size: 15px;
}

/*
 * Override Bootstrap's default container.
 */

/*@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
*/

/*
 * Blog name and description
 */

.blog-header-box {
  background-color: #2f6388;
  margin-bottom: 20px;
}
.blog-header {
  /*padding-top: 20px;*/
  /*padding-bottom: 20px;*/
}
.blog-title {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 50px;
  font-weight: normal;
  color: #ddd;
}
.blog-title a,
.blog-title a:hover {
  color: #ddd;
  text-decoration: none;
}
.blog-description {
  font-size: 20px;
  color: #c6c6c6;
  margin-top: -5px;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  /*font-size: 16px;*/
  line-height: 1.5;
  float: none;
  position: inherit;
}
.blog-content {
  margin-right: 240px;
}
.blog-sidebar {
  float: right;
  width: 210px;
}

@media (max-width: 767px) {
  .blog-content {
    margin-right: 0;
  }
  .blog-sidebar {
    margin-left: 10px;
    float: none;
  }
}


/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 10px 10px 0;
}
.sidebar-module h3 {
  margin: 0 -10px 2px;
  padding: 3px 10px;
  border-bottom: 1px solid #ccc;
  /*background: #0f3a58;*/
  /*color: #eee;*/
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 20px;
}
.blog-post + .blog-post {
  margin-top: 50px;
}
.blog-post-title {
  margin-bottom: -2px;
  border-bottom: 0;
  font-size: 40px;
  border-bottom: 0;
}
.blog-post h2 {
  border-bottom: 1px solid #eee;
  margin: 8px 0 2px;
  padding-bottom: 2px;
}
.blog-post-meta {
  margin-bottom: 10px;
  padding-bottom: 5px;
  color: #999;
  border-bottom: 1px solid #ccc;
}


/*
 * Footer
 */

.blog-footer {
  padding: 15px 0;
  background-color: #2f6388;
  color: #c4c4c4;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}
.blog-footer a {
  color: #eaa890;
}
.blog-footer p {
  margin: 0;
}
